<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV | RC</title>
    <link rel="stylesheet" href="cv-style.css">
    <link rel="icon" type="image/png" href="/fevicon.png">
</head>
<body>
    <div class="container">
        <div class="name">RIDDHESH CHAUDHARY</div>

        <div class="row1">
            <div class="work">
                <div class="title">
                    Certifications
                </div>
                <div class="list">
                    <div class="item">
                        <div class="year"><span>2020</span></div>
                        <div class="content">
                            <div class="company">freecodecamp</div>
                            <div class="job">
                                Responsive Web Design
                            </div>
                            <div class="describe">
                                Leared HTML & CSS with
                                15 practice projects + 5 certification projects
                            </div>
                        </div>
                    </div>
                    

                    <div class="item">
                        <div class="year"><span>2021</span></div>
                        <div class="content">
                            <div class="company">Google</div>
                            <div class="job">
                                Advance Analytics
                            </div>
                            <div class="describe">
                                Web traffic management
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro">
                <div class="avatar">
                    <img src="images/cvavatar.png">
                </div>
                <div class="content">
                    Hello. I'm Riddhesh, 
                    a student passionate about Machine Learning. Join me on my journey into the exciting world of AI!
                    I'm open to new opportunities and eager to explore innovative paths.
                </div>
            </div>
            <div class="contact">
                <div class="title">CONTACT</div>
                <ul>
                    <li>
                        <div>
                            <img src="images/loca.png">
                        </div>
                        <div>
                            Sector 8 - Mumbai (IN)
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/email.png">
                        </div>
                        <div>
                            riddhesh.chaudhary@gmail.com
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/phone.png">
                        </div>
                        <div>
                            +91 123 123 123
                        </div>
                    </li>
                </ul>

                <ul class="link">
                    <li>
                        <div>
                            In
                        </div>
                        <div>
                            instagram/say.reese
                            <a href="https://riddhesh.rf.gd"> 
                                ↗
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            Yt
                        </div>
                        <div>
                            linkedin/riddheshchaudhary
                            <a href="https://riddhesh.rf.gd"> 
                                ↗
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            W
                        </div>
                        <div>
                            <p>
                                riddhesh.rf.gd
                                <a href="https://riddhesh.rf.gd"> 
                                    ↗
                                </a>
                            </p>
                            
                        </div>
                    </li>
                    <li>
                        <div>
                            Gi
                        </div>
                        <div>
                            github/404reese
                            <a href="https://riddhesh.rf.gd"> 
                                ↗
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row2">
            <div>
                <img src="images/bag.png" alt="">
            </div>
            <div>
                <img src="images/card.png" alt="">
            </div>
            <div>
                
            </div>
            <div>
                <img src="images/laptop.png" alt="">
            </div>
            <div>
                <img src="images/phone.png" alt="">
            </div>
            <div>
                <img src="images/book.png" alt="">
            </div>
            <div>
                <img src="images/mouse.png" alt="">
            </div>
        </div>

        <div class="row3">
            <div class="language">
                <div class="title">LANGUAGES</div>
                <div>
                    <span>English:</span> C1 
                </div>
                <div>
                    <span>Hindi:</span> Mother Tongue
                </div>
                <div>
                    <span>German:</span> A2
                </div>
            </div>
            <div class="education">
                <div class="title">EDUCATION</div>
                <div class="list">
                    
                    <div class="item">
                        <div class="year"><span>2023-</span></div>
                        <div class="content">
                            <div class="company">K.J.Somaiya Institute of Technology</div>
                            <div class="job">
                                B.Tech (AI & DS)
                            </div>
                            <div class="describe">
                                Artifical Intelligence & Data Science
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="year"><span>2023-</span></div>
                        <div class="content">
                            <div class="company">IIT Madras</div>
                            <div class="job">
                                B.S. DS & Statistics
                            </div>
                            <div class="describe">
                                Data Science and Statistics
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="skill">
                <div class="title">SKILL</div>
                <ul>
                    <li>
                        <div style="--point: 89"></div>
                        <span>HTML</span>
                    </li>
                    <li>
                        <div style="--point: 80"></div>
                        <span>CSS</span>
                    </li>
                    <li>
                        <div style="--point: 90"></div>
                        <span>Py</span>
                    </li>
                    <li>
                        <div style="--point: 80"></div>
                        <span>C++</span>
                    </li>
                    <li>
                        <div style="--point: 60"></div>
                        <span>C#</span>
                    </li>
                    <li>
                        <div style="--point: 70"></div>
                        <span>CV</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>